<!DOCTYPE html>
<html lang="ru en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{url_for('static', filename='main.css')}}">
    <title>CascadeCanvas</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='С-removebg-preview.svg') }}"/></a>
            </div>
            <nav>
                <ul>
                    <li ><a class="menu" href="{{url_for('home')}}">Home</a></li>
                    <li ><a class="menu" href="#">Projects</a></li>
                    <li ><a class="menu" href="#">About</a></li>
                    <li ><a class="menu" href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="auntific">
                <button type="button" class="primary-button">Login</button>
                <button type="button" class="secondary-button">Sign-up</button>
            </div>
        </header>
    </div>
    <h1>CascadeCanvas</h1>
</body>
</html>
