<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <title>Sign up</title>
</head>
<body>
    <!--Data Area-->
    <div class="dataarea">
        <div class="block">
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            <h2>Sign Up</h2>
            <form method="post" action="/SignUp">
                <div class="user_input">
                    <label for="email">Email</label>
                    <input type="email" name="email" autocapitalize="off" autocomplete="on" required autofocus .>
                </div>
                <div class="user_input">
                <p>
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" autocapitalize="off" required>
                </p>
                </div>
                <div class="user_input">
                    <label for="password">Password</label>
                    <input type="password" name="password" autocapitalize="off" required >
                </div>
                <div class="user_input">
                    <label for="password">Confirm password</label>
                    <input type="password" name="password2" autocapitalize="off" required >
                </div>
                <div class="controles">
                    <input class="user_control" type="submit" value="Sign Up">
                    <a class="user_control" href="{{ url_for('home') }}">
                        <button type="button">Back</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>